/*
 * =====================================
 * 1. Common styles for general table things.
 * =====================================
 */

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

tr{
  font-family: 'Helvetica Neue', Helvetica, Arial;
  box-sizing: border-box;
  font-size: 9px;
  line-height: 18px;
}

.rbcc{
  /*
   * rbcc -> reset - border - cellspacing - cellpading
   *
   * Resets table attributes.
   */
  border:0;
  cellpadding:0;
  cellspacing:0;
}

.background{
  width:100%;
}

.main{
  width:100%;
  background-color: #ffffff;
  padding-top:15px;
}

.spd{ /* Separator tr; props are actually contained by it's inner element atm. */ }

.sp__inner{
  padding: 15px 0;
  color: grey;
  font-size: 9px;
}

.gray-hr{ /* 100% width light grey line; props are actually contained by inner elements atm. */ }

.gray-hr td{
  width: 100%;
}

.gray-hr hr{
  border-bottom:1px solid #E4E4E4;
  border-top:none;
  margin-bottom:20px;
  margin-top:20px;
  color: transparent;
  background:transparent;
}

a{
/**  text-decoration: none; **/
  color: #0fade1;
  align-content: left;
}

/*
 * =================
 * 2. Content styles.
 * ==================
 */
.main__welcome{
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.main__content{
  color: #000;
  padding: 10px 30px 0 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}


/*
 * ================
 * 3. Footer styles.
 * ================
 */


#KMLogo {
  min-width: 40px;
  max-width: 100px;
  max-height: 80px;
  vertical-align: top;
}

#ContactInfo {
  font-size: 14px;
  color: black;
  height: auto;
  padding-left: 6px;
}

#ContactAddress {
  font-size: 12px;
}

.footer{
  background-color: #f5f5f5;
  color: grey;
  padding: 20px 30px 0px 30px;
  border-top: 8px solid #EAEAEA;
  border-bottom: 8px solid #EAEAEA;
}

.footer a{
  color: #888;
}

.footer--simple{
  background-color: #FFFFFF;
}

.footer__main{
  /* NB: This prop fucks up the width on OS X, needs to be *JUST* attribute. */
  width:100%;
}

.footer__main__signature{
  font-size: 15px;
  color: black;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main__col1{
  width:72%;
  margin-bottom:20px;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main__col1__td{
  width: 8%;
  min-width: 8%;
  max-width: 15%;
  font-size: 14px;
  color: #888;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main__col2__td{
  font-size: 16px;
  color: #888;
  /* @todo gulp-inline-css doesn't parse align */
  align:left;
}

.footer__main a > span{
  /* Revert apple blue-link style. */
  color: #888!important;
  text-decoration:none!important;
}

.footer__main__col2{
  width:200px;
  /* @todo gulp-inline-css doesn't parse align */
  align:right;
}

.footer__main__col2__td{
  font-size: 14px;
  color: #888;
  /* @todo gulp-inline-css doesn't parse align */
  align:right;
}

.footer__main__col2__td__img{
  margin-bottom: 15px;
}

.footer__main__col0__td__img{
  min-width: 100%;
  min-height: 100%;
  width: 70px;
  height: auto;
}