<td class="footer" height:"50px">
  <table class="rbcc footer__main" height="70px">
    <tr>
      <!-- @todo gulp-inline-css doesn't parse align -->
      <td class="footer__main__signature" align="left" id="LoveandRespect">
        <!-- @echo signature -->
        <br />
        <strong>
          <!-- @echo name -->
        </strong>
        <br />
        <strong>
          <!-- @echo title -->
        <br/>
        </strong>
        <br />
      </td>
    </tr>

    <tr class="spd">
      <td class="spd__inner"></td>
    </tr>

    <tr>
      <!-- @todo gulp-inline-css doesn't parse align -->
      <table class="rbcc footer__main__col1" align="left" height:"60px">
        <td class="footer__main__col1__td" align="left" height:"60px">
          <a href="<!-- @echo website -->">
            <img src="<!-- @echo logoUrl -->" alt="<!-- @echo logoAlt -->" class="footer__main__col0__td__img" id="S2Logo" />
          </a>
        </td>
        <!-- @todo gulp-inline-css doesn't parse align -->
        <td class="footer__main__col2__td" align="left" id="ContactInfo" height="60px">
          <span>
              <a id="ContactInfo">
                <b>
                <!-- @echo slogan -->
                </b>
                <br/>
                <!-- @echo contactMain -->
                <br/>
                <!-- @echo contactAddress -->
              </a>
          </span>

        </td>
      </table>
      <!-- @todo gulp-inline-css doesn't parse align -->
      <table class="rbcc footer__main__col2" align="right">
        <!-- @todo gulp-inline-css doesn't parse align -->
        <td class="footer__main__col2__td" align="right" height:"60px">
          <img src="<!-- @echo logoUrl2 -->" alt="<!-- @echo logoAlt2 -->" class="footer__main__col2__td__img" />
          </a>
        </td>
      </table>
      <table class="rbcc footer__main">
        <tr class="spd">
          <td class="spd__inner">
            <a id="disclaimer">
            <!-- @echo registered -->
            </a>
            </strong>
          </td>
        </tr>
      </table>
    </tr>

  </table>
</td>